<h3>Login (Popup) - Good for Iran</h3>
<div class="g-signin2" data-onsuccess="onSignIn" /> </div>
<script type="text/javascript">
function onSignIn(googleUser) {
  var id_token = googleUser.getAuthResponse().id_token;
  post('/users/auth', {id_token: id_token})
}
</script>

<hr />
<h3>Login (Redirect)</h3>
<%= google_sign_in_button proceed_to: create_login_url do
  image_tag('google_logo.png', alt: 'Google', width: '100px')
end %>
