// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#google-sign-in {
  margin-top: 10px;
  /*display: inline-block;*/
  width: 200px;
  height: 51px;
  background-image: url("/google_signin_buttons/web/2x/btn_google_signin_dark_normal_web@2x.png");
  background-size: contain;
}

#google-sign-in:hover {
  background-image: url("/google_signin_buttons/web/2x/btn_google_signin_dark_focus_web@2x.png");
}

#google-sign-in:active {
  background-image: url("/google_signin_buttons/web/2x/btn_google_signin_dark_pressed_web@2x.png");
}
